<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wenjian.criminalintent">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.CrimeActivity">
        </activity>
        <activity android:name=".activity.CrimePagerActivity">
            <meta-data
                android:name="android.support.PARENT.ACTIVITY"
                android:value=".activity.CrimeListActivity">
            </meta-data>
        </activity>
        <activity android:name=".activity.CrimeCameraActivity"
                  android:screenOrientation="landscape"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        </activity>
    </application>

</manifest>